<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <welcome-file-list>
        <welcome-file>addStudent.jsp</welcome-file>
    </welcome-file-list>

    <servlet>
        <display-name>AddStudentServlet</display-name>
        <servlet-name>AddStudentServlet</servlet-name>
        <servlet-class>com.shuyun.servlet.AddStudentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddStudentServlet</servlet-name>
        <url-pattern>/addStudent</url-pattern>
    </servlet-mapping>

    <servlet>
    <display-name>FindStudentServlet</display-name>
    <servlet-name>FindStudentServlet</servlet-name>
    <servlet-class>com.shuyun.servlet.FindStudentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FindStudentServlet</servlet-name>
        <url-pattern>/findAllStudent</url-pattern>
    </servlet-mapping>

    <servlet>
        <display-name>DeleteStudentServlet</display-name>
        <servlet-name>DeleteStudentServlet</servlet-name>
        <servlet-class>com.shuyun.servlet.DeleteStudentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteStudentServlet</servlet-name>
        <url-pattern>/deleteStudent</url-pattern>
    </servlet-mapping>

</web-app>

